<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>
    {% block title %}EventNest{% endblock %}
  </title>

  {% load static %}

  <link rel="stylesheet" href="{% static 'css/app.css' %}">

  {% block extra_css %}{% endblock %}
</head>

<body>

  <!-- Navbar -->
  {% include 'web/partials/navbar.html' %}

  <!-- alert -->
  {% include 'web/partials/alerts.html' %}

  <main class="main">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  {% include 'web/partials/footer.html' %}

  {% block extra_js %}{% endblock %}

</body>
</html>