<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>
    {% block title %}EventNest{% endblock %}
  </title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

  {% block extra_css %}{% endblock %}
</head>

<body>

  <!-- Navbar -->
  {% include 'web/partials/navbar.html' %}

  <!-- alert -->
  {% include 'web/partials/alerts.html' %}

  <main class="main">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  {% include 'web/partials/footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
  <!-- <script src="{% static 'js/default.js' %}"></script> -->
  {% block extra_js %}{% endblock %}

</body>
</html>